* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 5%;
  position: absolute;
  /* border: solid; */
  width: 100%;
  z-index: 100;
}

header h1 {
  font-size: 40px;
  color: white;
}

header nav {
  /* border: solid; */
  display: flex;
  gap: 30px;

}

header nav a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 50px;
  transition: 0.3s;
  color: white;
}

header nav a.active {
  background: #5247B9;
  color: white;
}

header nav a:hover {
  background: #5247B9;
  color: white;
}

header nav:hover > a:not(:hover) {
  background: none;
  color: rgb(255, 255, 255);
}

.home {
  display: flex;
  height: 100dvh;
  background: linear-gradient(to top, #D2E2FB 30%, #86a8db);
  position: relative;
  overflow: hidden;
  /* z-index: -1; */
}

.home img {
  position: absolute;
  bottom: 0;
  width: 100%;
  pointer-events: none;
}

.home .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.about {
  padding: 50px;
  background: #3b3291;
  color: white;
  position: relative;
  z-index: 100;
}

.about h1 {
  font-size: 40px;
}

#sec-1 {
  position: relative;
}

.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  bottom: 170px;
  border-radius: 50px;
  cursor: pointer;
}

.scroll-down::before,
.scroll-down::after {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid rgb(255, 255, 255);
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::after {
  top: 20%;
  animation-delay: 0.3s;
}

@keyframes scroll-down {
  0%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  60%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    top: 90%;
  }
}